#project-details-page {
    background: #E9EFF2;
    height: auto;
}

.page-header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.breadcrumbs a {
    color: #2078A8;
}

.breadcrumbs svg {
    width: 14px;
    height: 14px;
    color: rgba(63, 77, 85, 0.5);
}

.project-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(197, 202, 204, 0.5);
}

.project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    margin: 0;
}

.assets-table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 32px 16px 32px;
    gap: 32px;
    background: rgba(255, 255, 255, 0.5);
}

#project-form-page .page-header b {
    font-style: italic;
}

.project-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    background: #F4F7F9;
}

.project-form-left, .project-form-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.project-form input, .project-form textarea {
    width: 100%;
}

.project-form-dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.project-form-dropdowns .dropdown-group {
    width: 100%;
    flex: 1;
}

.project-form-left .owner-organization-group {
    flex: 12 !important;
}

.project-form-left .fiscal-year-group {
    flex: 3 !important;
}

.project-form-left .project-type-group {
    flex: 5 !important;
}

.project-form-right textarea {
    height: 114px;
    padding: 10px 12px 10px 16px;
    border-radius: 18px;
}