{{> header}}

  <script type="text/javascript">
  window.env = {
      VERSION: "{{{VERSION}}}"
  };
  </script>

 <noscript>
   You need to enable JavaScript to run this app.
 </noscript>

<div id="form" class="ag-theme-alpine"></div>

{{> footer}}
