{{> header}}

  <script type="text/javascript">
  window.env = {
      USER_NAME: "{{{USER_NAME}}}",
      IS_ADMIN: "{{{USER_IS_ADMIN}}}",
      VERSION: "{{{VERSION}}}",
      RELEASE_NOTES_URL: "{{{RELEASE_NOTES_URL}}}",
      TRAINING_URL: "{{{TRAINING_URL}}}"
  };
  </script>

 <noscript>
   You need to enable JavaScript to run this app.
 </noscript>

<div id="form" class="ag-theme-alpine"></div>

{{> footer}}
